<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>W4D2 Q3</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
<body>
<%- include('header'); -%>

<div class="contents">
<h2>Shopping Cart Items </h2>

    <%for(let idx in products) { %>
        <div class="productitem">
            <p>Id: <%= products[idx].id %></p>
            <p>Name: <%= products[idx].name %></p>
            <p>Price: <%= products[idx].price %></p>
            <p>Quantity: <%= products[idx].units %></p>
        </div>
    <% } %>
        
</div>
<div>
    <h2>
    <a href="/"> Products</a>
</h2>
</div>
<%- include('footer'); -%>
</body>
</html>